Repository COS301-SE-2022/CryptoHub, pull requests merged in 2022-06, with the labels that each got.

#83 Feature client and server integration
  client/auth/auth.js
  client/components/CoinAccount/CoinInfo.js
  client/components/CoinAccount/CoinInfoNext.js
  client/components/InfoSection/SuggestedAccount.js
  client/components/InfoSection/Suggestions.js
  client/components/NavigationBar/CreatePostButton.js
  client/components/NavigationBar/NavigationSearchBar.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/pages/coin.js
  client/pages/login.js
  client/pages/profile.js
  client/pages/signup.js
  client/pages/user/[id].js
Labels: enhancement, client, feature, Frontend, Backend

#88 Feature client integrate coincap api
  client/components/InfoSection/Carousel.js
Labels: enhancement, client, Frontend

#89 Test controller integration
  server2/UnitTests/ControllerTests/CoinControllerTest.cs
  server2/UnitTests/ControllerTests/PostControllerTest.cs
  server2/UnitTests/ControllerTests/UserControllerTest.cs
Labels: server, unit test, integration test, Backend

#92 Test controller integration
  server2/UnitTests/ControllerTests/AuthorizationControllerTest.cs
  server2/UnitTests/ControllerTests/CoinControllerTest.cs
  server2/UnitTests/ControllerTests/CoinHistoryControllerTest.cs
  server2/UnitTests/ControllerTests/CommentControllerTest.cs
  server2/UnitTests/ControllerTests/LikeControllerTest.cs
Labels: server, unit test, Backend

#103 Test integration controllers
  server2/UnitTests/ControllerTests/AuthorizationControllerTest.cs
  server2/UnitTests/ControllerTests/CoinControllerTest.cs
  server2/UnitTests/ControllerTests/CoinHistoryControllerTest.cs
  server2/UnitTests/ControllerTests/CommentControllerTest.cs
  server2/UnitTests/ControllerTests/ImageControllerTest.cs
Labels: server, unit test, integration test, Backend

#107 Feature/update coin page
  client/components/CoinAccount/CoinInfo.js
  client/components/CoinAccount/CoinInfoNext.js
  client/pages/coin/[id].js
Labels: enhancement, client, feature
