Repository COS301-SE-2022/CryptoHub, pull requests merged in 2022-05, with the labels that each got.

#2 Feature set up client layout
  client/components/Layout.js
  client/components/NavigationBar/CreatePostButton.js
  client/components/NavigationBar/NavigationBar.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/NavigationBar/NavigationSearchBar.js
  client/pages/_app.js
  client/pages/index.js
  client/styles/Home.module.css
  client/styles/Layout.module.css
  client/styles/NavigationBar.module.css
  client/styles/globals.css
Labels: client, feature

#3 added basic structure for create post modal
  client/components/NavigationBar/CreatePostButton.js
  client/styles/globals.css
Labels: client, feature

#4 added menu for profile
  client/components/NavigationBar/NavigationProfile.js
  client/package-lock.json
  client/package.json
Labels: client, feature

#6 update main with develop
  README.md
  client/.babelrc
  client/.eslintrc.json
  client/.gitignore
  client/README.md
  client/__tests__/index.test.jsx
  client/components/Layout.js
  client/components/NavigationBar/CreatePostButton.js
  client/components/NavigationBar/NavigationBar.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/NavigationBar/NavigationSearchBar.js
  client/cypress.json
  client/cypress/fixtures/example.json
  client/cypress/integration/1-getting-started/todo.spec.js
  client/cypress/integration/2-advanced-examples/actions.spec.js
  client/cypress/integration/2-advanced-examples/aliasing.spec.js
  client/cypress/integration/2-advanced-examples/assertions.spec.js
  client/cypress/integration/2-advanced-examples/connectors.spec.js
  client/cypress/integration/2-advanced-examples/cookies.spec.js
  client/cypress/integration/2-advanced-examples/cypress_api.spec.js
  client/cypress/integration/2-advanced-examples/files.spec.js
  client/cypress/integration/2-advanced-examples/local_storage.spec.js
  client/cypress/integration/2-advanced-examples/location.spec.js
  client/cypress/integration/2-advanced-examples/misc.spec.js
  client/cypress/integration/2-advanced-examples/navigation.spec.js
  client/cypress/integration/2-advanced-examples/network_requests.spec.js
  client/cypress/integration/2-advanced-examples/querying.spec.js
  client/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  client/cypress/integration/2-advanced-examples/traversal.spec.js
  client/cypress/integration/2-advanced-examples/utilities.spec.js
  client/cypress/integration/2-advanced-examples/viewport.spec.js
  client/cypress/integration/2-advanced-examples/waiting.spec.js
  client/cypress/integration/2-advanced-examples/window.spec.js
  client/cypress/plugins/index.js
  client/cypress/support/commands.js
  client/cypress/support/index.js
  client/jest.config.js
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/pages/_app.js
  client/pages/api/hello.js
  client/pages/index.js
  client/postcss.config.js
  client/public/favicon.ico
  client/public/vercel.svg
  client/styles/Layout.module.css
  client/styles/NavigationBar.module.css
  client/styles/globals.css
  client/tailwind.config.js
Labels: client, feature

#7 Feature landing page
  client/components/LandingPage/Carousel.css
  client/components/LandingPage/Carousel.js
  client/components/LandingPage/LandingPage.js
  client/package-lock.json
  client/package.json
  client/pages/_app.js
Labels: client, feature

#8 Added login and signup screens
  client/components/LandingPage/LandingPage.js
  client/pages/_app.js
  client/pages/index.js
  client/pages/login.js
  client/pages/signup.js
Labels: client, feature

#9 Added basic authorization
  client/auth/auth.js
  client/components/NavigationBar/NavigationProfile.js
  client/pages/_app.js
  client/pages/index.js
  client/pages/login.js
Labels: client, feature

#17 updated modal for creating a post
  client/components/NavigationBar/CreatePostButton.js
Labels: client, feature

#19 Added feed
  client/auth/auth.js
  client/components/Feed/Feed.js
  client/components/InfoSection/Carousel.js
  client/components/InfoSection/InfoSection.js
  client/components/InfoSection/News.js
  client/components/InfoSection/Suggestions.js
  client/components/NavigationBar/NavigationBar.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/Posts/MockUserPost.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/pages/index.js
  client/styles/Layout.module.css
Labels: client, feature

#20 Added carousel to feed
  client/components/InfoSection/Carousel.js
  client/components/Posts/MockUserPost.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/mocks/mockCoinInfo.js
Labels: client

#22 Add news section
  client/components/InfoSection/Article.js
  client/components/InfoSection/News.js
  client/components/Posts/Posts.js
  client/mocks/mockNewsData.js
  client/mocks/mockUserPost.js
  client/pages/signup.js
Labels: client, feature

#23 Mobile responsiveness
  client/components/Feed/Feed.js
  client/components/InfoSection/InfoSection.js
  client/components/LandingPage/Carousel.js
  client/components/LandingPage/LandingPage.js
  client/components/NavigationBar/CreatePostButton.js
  client/components/NavigationBar/NavigationSearchBar.js
  client/components/Posts/Posts.js
Labels: client, feature

#25 Mobile responsiveness
  client/components/InfoSection/Carousel.js
  client/components/InfoSection/Suggestions.js
  client/components/NavigationBar/CreatePostButton.js
  client/components/NavigationBar/NavigationBar.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/NavigationBar/NavigationSearchBar.js
Labels: client, feature

#28 Feature update posts
  client/components/InfoSection/InfoSection.js
  client/components/InfoSection/SuggestedAccount.js
  client/components/InfoSection/Suggestions.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/mocks/images/post-image-1.png
  client/mocks/images/post-image-2.png
  client/mocks/images/post-image-3.png
  client/mocks/mockSuggestedAccounts.js
  client/mocks/mockUserPost.js
Labels: client, feature

#29 Link register to api
  client/auth/auth.js
  client/pages/signup.js
Labels: client, feature

#34 Tests unit react
  client/__tests__/index.test.jsx
Labels: client, unit test

#35 Connect client to server
  .gitignore
  .idea/misc.xml
  .idea/workspace.xml
  client/auth/auth.js
  client/components/InfoSection/SuggestedAccount.js
  client/components/NavigationBar/CreatePostButton.js
  client/components/NavigationBar/NavigationBar.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/mocks/mockSuggestedAccounts.js
  client/pages/login.js
  client/pages/profile.js
  client/pages/signup.js
  server/src/main/java/com/api/cryptohub/api/controllers/AuthorizationController.java
  server/src/main/java/com/api/cryptohub/api/controllers/PostController.java
  server/src/main/java/com/api/cryptohub/api/controllers/UserController.java
  server/src/main/java/com/api/cryptohub/domain/models/Post.java
  server/src/main/java/com/api/cryptohub/domain/models/User.java
  server/src/main/resources/data.sql
  server/src/test/java/com/api/cryptohub/CryptoHubApplicationTests.java
Labels: client, server, feature

#36 Feature client follow user
  .idea/workspace.xml
  client/components/InfoSection/SuggestedAccount.js
  client/components/InfoSection/Suggestions.js
  client/components/LandingPage/LandingPage.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/mocks/mockSuggestedAccounts.js
  client/pages/login.js
Labels: client, feature

#37 Feature client follow user
  client/pages/signup.js
  server/src/main/resources/data.sql
Labels: client, server, feature

#38 Merge Integration Tests to develop
  .idea/workspace.xml
  server/src/main/java/com/api/cryptohub/api/controllers/AuthorizationController.java
  server/src/main/java/com/api/cryptohub/api/controllers/UserController.java
  server/src/main/resources/application.properties
  server/src/test/java/com/api/cryptohub/AuthorizationControllerIntTest.java
  server/src/test/java/com/api/cryptohub/PostControllerIntTests.java
  server/src/test/java/com/api/cryptohub/UserControllerIntTest.java
Labels: integration test

#39 (Unit test) Changed unit tests for live updated frontend
  client/__tests__/index.test.jsx
Labels: client, unit test

#41 Updateed landing page
  client/components/LandingPage/Carousel.css
  client/components/LandingPage/Carousel.js
  client/components/LandingPage/LandingPage.js
  client/components/NavigationBar/NavigationBar.js
  client/components/NavigationBar/NavigationSearchBar.js
  client/pages/_app.js
  client/public/images/landing.png
Labels: client, feature

#72 Feature like controller
  server2/CryptoHubAPI/Controllers/CommentController.cs
  server2/CryptoHubAPI/Controllers/LikeController.cs
  server2/Domain/IRepository/ICommentRepository.cs
  server2/Domain/IRepository/ILikeRepository.cs
  server2/Infrastructure/Repository/CommentRepository.cs
  server2/Infrastructure/Repository/LikeRepository.cs
Labels: Backend

#73 Added GetLikeByLikeId method
  server2/CryptoHubAPI/Controllers/LikeController.cs
Labels: server, feature

#74 Feature client coin account
  client/auth/auth.js
  client/components/CoinAccount/CoinInfo.js
  client/components/CoinAccount/CoinInfoNext.js
  client/pages/coin.js
Labels: feature, Frontend
