Repository COS301-SE-2022/CryptoHub, pull requests merged in 2022-07, with the labels that each got.

#127 Merge Develop to tests-unit-controllers
  README.md
  SqlScripts/DummyValues.sql
  client/components/CoinAccount/CoinInfo.js
  client/components/CoinAccount/CoinInfoNext.js
  client/components/InfoSection/SuggestedAccount.js
  client/components/InfoSection/Suggestions.js
  client/components/Posts/Post.js
  client/components/Posts/Posts.js
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/pages/api/scraper.js
  client/pages/coin/[id].js
  client/pages/user/[id].js
  server2/UnitTests/ControllerTests/AuthorizationControllerTest.cs
  server2/UnitTests/ControllerTests/CoinControllerTest.cs
  server2/UnitTests/ControllerTests/CoinHistoryControllerTest.cs
  server2/UnitTests/ControllerTests/CommentControllerTest.cs
  server2/UnitTests/ControllerTests/ImageControllerTest.cs
  server2/UnitTests/ControllerTests/LikeControllerTest.cs
  server2/UnitTests/ControllerTests/PostControllerTest.cs
  server2/UnitTests/IntegrationTests/UserControllerTests.cs
Labels: unit test, Backend

#142 Suggested Users endpoint
  server2/BusinessLogic/Services/UserService/IUserService.cs
  server2/BusinessLogic/Services/UserService/UserService.cs
  server2/CryptoHubAPI/Controllers/UserController.cs
Labels: Backend

#148 Merge
  .gitignore
  SqlScripts/DummyValues.sql
  SqlScripts/Tables.sql
  client/components/Feed/Feed.js
  client/components/InfoSection/SuggestedAccount.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/Posts/Post.js
  client/pages/editprofile.js
  client/pages/profile.js
  client/pages/user/[id].js
  server2/BusinessLogic/Services/AuthorizationService/AuthorizationService.cs
  server2/BusinessLogic/Services/CoinService/CoinService.cs
  server2/BusinessLogic/Services/ImageService/IImageService.cs
  server2/BusinessLogic/Services/ImageService/ImageService.cs
  server2/BusinessLogic/Services/PostService/PostService.cs
  server2/BusinessLogic/Services/TagService/ITagService.cs
  server2/BusinessLogic/Services/TagService/TagServices.cs
  server2/BusinessLogic/Services/UserService/UserService.cs
  server2/CryptoHubAPI/Controllers/TestEmailComtroller.cs
  server2/CryptoHubAPI/MyInitializer.cs
  server2/CryptoHubAPI/Program.cs
  server2/CryptoHubAPI/appsettings.json
  server2/Domain/Models/Coin.cs
  server2/Domain/Models/Post.cs
  server2/Domain/Models/User.cs
  server2/Infrastructure/DTO/CoinDTOs/CoinDTO.cs
  server2/Infrastructure/DTO/PostDTOs/CreatePostDTO.cs
  server2/Infrastructure/DTO/PostDTOs/PostDTO.cs
  server2/Infrastructure/DTO/TagDTOs/BatchTagsDTO.cs
  server2/Infrastructure/DTO/UserDTOs/SearchDTO.cs
  server2/Infrastructure/DTO/UserDTOs/UserDTO.cs
  server2/Infrastructure/Infrastructure.csproj
  server2/Infrastructure/Setting/DBConnctionSettings.cs
  server2/Infrastructure/Setting/DBConnctionSettingsDTO.cs
  server2/Infrastructure/Setting/Doppler.cs
  server2/Infrastructure/Setting/FireStoreSettings.cs
  server2/Infrastructure/Setting/FireStoreSettingsDTO.cs
  server2/Infrastructure/Setting/JWTSettings.cs
  server2/Infrastructure/Setting/JWTSettingsDTO.cs
  server2/Infrastructure/Setting/SendInBlueSettings.cs
  server2/Infrastructure/Setting/SendInBlueSettingsDTO.cs
  server2/Intergration/FireStoreService/FireStorageService.cs
  server2/Intergration/SendGridEmailService/SendGridEmailService.cs
  server2/Intergration/SendInBlueEmailService/SendInBlueEmailService.cs
Labels: unit test, Backend

#153 Merge develop to report post
  .gitignore
  SqlScripts/DummyValues.sql
  SqlScripts/Tables.sql
  client/components/Feed/Feed.js
  client/components/InfoSection/SuggestedAccount.js
  client/components/NavigationBar/NavigationProfile.js
  client/components/Posts/Post.js
  client/pages/editprofile.js
  client/pages/profile.js
  client/pages/user/[id].js
  server2/BusinessLogic/Services/CoinService/CoinService.cs
  server2/BusinessLogic/Services/ImageService/IImageService.cs
  server2/BusinessLogic/Services/ImageService/ImageService.cs
  server2/BusinessLogic/Services/PostService/IPostService.cs
  server2/BusinessLogic/Services/PostService/PostService.cs
  server2/BusinessLogic/Services/TagService/ITagService.cs
  server2/BusinessLogic/Services/TagService/TagServices.cs
  server2/BusinessLogic/Services/UserService/UserService.cs
  server2/CryptoHubAPI/Controllers/PostController.cs
  server2/Domain/Models/Coin.cs
  server2/Domain/Models/Post.cs
  server2/Domain/Models/User.cs
  server2/Infrastructure/DTO/CoinDTOs/CoinDTO.cs
  server2/Infrastructure/DTO/PostDTOs/CreatePostDTO.cs
  server2/Infrastructure/DTO/PostDTOs/PostDTO.cs
  server2/Infrastructure/DTO/TagDTOs/BatchTagsDTO.cs
  server2/Infrastructure/DTO/UserDTOs/SearchDTO.cs
  server2/Infrastructure/DTO/UserDTOs/UserDTO.cs
Labels: feature, Frontend

#157 Merge
  client/pages/coin/[id].js
  client/pages/user/[id].js
  server2/BusinessLogic/Services/CoinService/CoinService.cs
  server2/BusinessLogic/Services/CoinService/ICoinService.cs
  server2/BusinessLogic/Services/UserCoinService/IUserCoinService.cs
  server2/BusinessLogic/Services/UserCoinService/UserCoinService.cs
  server2/CryptoHubAPI/Controllers/CoinController.cs
Labels: unit test, integration test

#158 Server unit testing
  server2/BusinessLogic/Services/UserFollowerService/IUserFollowerService.cs
  server2/BusinessLogic/Services/UserFollowerService/UserFollowerService.cs
  server2/CryptoHubAPI/Controllers/PostController.cs
  server2/UnitTests/ControllerTests/AuthorizationControllerTest.cs
  server2/UnitTests/ControllerTests/CommentControllerTest.cs
  server2/UnitTests/ControllerTests/LikeControllerTest.cs
  server2/UnitTests/ControllerTests/PostControllerTest.cs
  server2/UnitTests/ControllerTests/ReplyControllerTest.cs
  server2/UnitTests/ControllerTests/UserControllerTest.cs
  server2/UnitTests/ControllerTests/UserFollowerControllerTest.cs
  server2/UnitTests/IntegrationTests/PostControllerTests.cs
  server2/UnitTests/IntegrationTests/UserControllerTests.cs
Labels: unit test, integration test

#163 Server unit testing
  server2/UnitTests/ControllerTests/AuthorizationControllerTest.cs
  server2/UnitTests/ControllerTests/CoinControllerTest.cs
  server2/UnitTests/ControllerTests/CommentControllerTest.cs
  server2/UnitTests/ControllerTests/ImageControllerTest.cs
  server2/UnitTests/ControllerTests/LikeControllerTest.cs
  server2/UnitTests/ControllerTests/PostControllerTest.cs
  server2/UnitTests/ControllerTests/UserFollowerControllerTest.cs
  server2/UnitTests/IntegrationTests/UserControllerTests.cs
Labels: unit test, integration test

#172 Server feature suggested user
  server2/BusinessLogic/Services/SearchService/SearchService.cs
  server2/BusinessLogic/Services/UserService/UserService.cs
  server2/Infrastructure/DTO/UserDTOs/SearchDTO.cs
Labels: Backend

#175 Update to search
  server2/BusinessLogic/Services/SearchService/SearchService.cs
  server2/Infrastructure/DTO/UserDTOs/SearchDTO.cs
Labels: Backend

#165 Create dotnet.yml
  .github/workflows/dotnet.yml
Labels: workflow

#177 Server unit testing
  server2/UnitTests/IntegrationTests/CoinControllerTests.cs
  server2/UnitTests/IntegrationTests/CommentControllerTests.cs
  server2/UnitTests/IntegrationTests/ImageControllerTests.cs
Labels: unit test, integration test

#181 Server testing
  server2/Infrastructure/Setting/Doppler.cs
  server2/UnitTests/ControllerTests/UserControllerTest.cs
  server2/UnitTests/IntegrationTests/LikeControllerTests.cs
  server2/UnitTests/IntegrationTests/RoleControllerTests.cs
Labels: unit test, integration test

#182 Feature client coin account
  client/pages/coin/[id].js
Labels: client

#183 Testing fix
  server2/UnitTests/IntegrationTests/CommentControllerTests.cs
Labels: integration test

#186 Merge to main
  README.md
Labels: documentation
