Repository COS301-SE-2022/CryptoHub, pull requests merged in 2022-09, with the labels that each got.

#220 Feature client user info
  client/pages/user/[id].js
Labels: client, server, Frontend

#225 Testing integration
  client/__tests__/index.test.jsx
  client/components/Admin/__test__/AdminFeed.test.js
  client/components/CoinAccount/CoinCalculator.js
  client/jest.config.js
  server2/BusinessLogic/Services/AuthorizationService/AuthorizationService.cs
  server2/BusinessLogic/Services/CoinService/CoinService.cs
  server2/BusinessLogic/Services/CoinService/ICoinService.cs
  server2/BusinessLogic/Services/UserService/IUserService.cs
  server2/BusinessLogic/Services/UserService/UserService.cs
  server2/CryptoHubAPI/Controllers/CoinController.cs
  server2/CryptoHubAPI/Controllers/CommentController.cs
  server2/CryptoHubAPI/Controllers/UserController.cs
  server2/CryptoHubAPI/CryptoHubAPI.csproj
  server2/CryptoHubAPI/Properties/launchSettings.json
  server2/UnitTests/IntegrationTests/CoinControllerTests.cs
  server2/UnitTests/IntegrationTests/CommentControllerTests.cs
  server2/UnitTests/IntegrationTests/UserControllerTests.cs
Labels: integration test, Backend

#228 Feature client coin info
  client/pages/coin/[id].js
  client/pages/user/[id].js
Labels: client, server, feature

#230 Feature client all coins
  client/pages/coins.js
Labels: client, server, feature, Frontend

#231 Feature client all coins
  client/pages/coins.js
  client/pages/profile.js
Labels: client, server, feature, Frontend

#235 end2end added id test
  client/pages/signup.js
Labels: client, Frontend, end-2-end testing

#259 Feature fix sentiment ai
  client/components/CoinSentiment/CoinSentiment.js
  client/pages/coins.js
  client/pages/profile.js
Labels: client, feature, Frontend
